<p id="notice"><%= notice %></p>

<h1>商品管理</h1>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>在庫</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.stock %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


  </tbody>
</table>

<br>

<%= link_to '商品追加', new_item_path %>
