<p>ご購入ありがとうございます！！</p>
<table id="cart" class="table ">
  <thead>
    <tr>
      <th style="font-size: 24px;">商品名</th>
      <th style="font-size: 24px;">個数</th>
      <th style="font-size: 24px;">金額</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td style="font-size: 20px;"></td>
        <td style="font-size: 20px;"></td>
        <td style="font-size: 20px;"></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td style="font-size: 20px;">合計<%= params[:value]["0"] %>円です</td>
      </tr>

  </tbody>
</table>
