<p id="notice"><%= notice %></p>

<h1>"SHOP_APPへようこそ"</h1>

<%= form_tag "thanks_page", method: "GET" do %>
  <table class="items table" style="border:5px;">
    <thead>
      <tr>
        <th></th>
        <th>商品名</th>
        <th>単価</th>
        <th>個数</th>
        <th class="kingaku">金額</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr class="item">
          <td><%= item_image_tag item %></td>
          <td style="font-size: 24px;"><%= item.name %></td>
          <td style="font-size: 24px;"><span class="unit"><%= item.price %>円</span></td>
          <td style="font-size: 24px;">
            <%= select_tag "item_#{item.id}",options_for_select((0..(item.stock)).to_a, 0), class: "quantity" %>
          </td>
          <td style="font-size: 24px;">
            <%= number_field "money#{item.id}", 0,{placeholder: 1, class: "amount",:disabled => true}  %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="total" style="font-size: 24px;"><%= number_field "value", 0,{placeholder: 1, class: "totalAmount",:disabled => true}  %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>

          <td></td>

          <td><%= submit_tag "購入", data: { confirm: "購入してよいですか？", disable_with: "送信中..." },id:"submit",class:"btn btn-success"   %></td>

        </tr>
    </tbody>
  </table>
<% end %>
