<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "shop app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "Admin", 'admin' %></li>
      </ul>
    </nav>
  </div>
</header>

